#css-transitions .transition {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: width 2s ease-in-out 1s, height 2s ease-in-out 1s, transform 2s ease-in-out 1s;
}
#css-transitions .transition:hover {
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}

#css-2d-transforms .original {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  margin-bottom: 50px;
}
#css-2d-transforms .translate {
  transform: translate(50px, 50px);
}
#css-2d-transforms .rotate {
  transform: rotate(10deg);
}
#css-2d-transforms .scale {
  transform: scaleX(0.5) scaleY(0.5);
}
#css-2d-transforms .skew {
  transform: skew(20deg);
}

#css-shadows .text {
  font-size: 32px;
}
#css-shadows #shadow1 {
  text-shadow: 2px 2px;
}
#css-shadows #shadow2 {
  text-shadow: 2px 2px red;
}
#css-shadows #shadow3 {
  text-shadow: 2px 2px 5px red;
}
#css-shadows #shadow4 {
  color: white;
  text-shadow: 2px 2px 5px black;
}
#css-shadows #shadow5 {
  text-shadow: 0 0 5px red;
}
#css-shadows #shadow6 {
  text-shadow: 0 0 5px red, 0 0 5px yellow;
}
#css-shadows #shadow7 {
  color: white;
  text-shadow: 1px 1px 5px black, 0 0 25px blue, 0 0 5px darkblue;
}
#css-shadows #shadow8 {
  color: white;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}
#css-shadows .text-card,
#css-shadows .image-card {
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#css-shadows .container {
  padding: 10px;
}
#css-shadows .text-card .header {
  color: white;
  background-color: #4CAF50;
  font-size: 40px;
  padding: 10px;
}

#css-gradients .grad {
  height: 100px;
  background-color: red;
}
#css-gradients #grad1 {
  background-image: linear-gradient(to bottom, red, yellow);
}
#css-gradients #grad2 {
  background-image: linear-gradient(to left, red, yellow);
}
#css-gradients #grad3 {
  background-image: linear-gradient(to top, red, yellow);
}
#css-gradients #grad4 {
  background-image: linear-gradient(to right, red, yellow);
}
#css-gradients #grad5 {
  background-image: linear-gradient(to bottom right, red, yellow);
}
#css-gradients #grad6 {
  background-image: linear-gradient(to bottom left, red, yellow);
}
#css-gradients #grad7 {
  background-image: linear-gradient(to top left, red, yellow);
}
#css-gradients #grad8 {
  background-image: linear-gradient(to top right, red, yellow);
}
#css-gradients #grad9 {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255, 0, 0));
}
#css-gradients #grad10 {
  background-image: linear-gradient(to bottom, red, green, yellow);
}

#css-backgrounds #example1 {
  background-image: url("assets/css-backgrounds/img_flwr.gif"), url("assets/css-backgrounds/paper.gif");
  background-position: right bottom, top left;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-origin: content-box;
  background-clip: border-box;
  padding: 15px;
  border: 15px solid #ccc;
}

#css-border-images .borderimg {
  border: 10px solid transparent;
  padding: 15px;
}
#css-border-images #borderimg1 {
  -o-border-image: url("assets/css-border-images/border.png") 50 round;
     border-image: url("assets/css-border-images/border.png") 50 round;
}
#css-border-images #borderimg2 {
  -o-border-image: url("assets/css-border-images/border.png") 20% round;
     border-image: url("assets/css-border-images/border.png") 20% round;
}
#css-border-images #borderimg3 {
  -o-border-image: url("assets/css-border-images/border.png") 30% round;
     border-image: url("assets/css-border-images/border.png") 30% round;
}
#css-border-images #borderimg4 {
  -o-border-image: url("assets/css-border-images/border.png") 30 stretch;
     border-image: url("assets/css-border-images/border.png") 30 stretch;
}

#css-rounded-corner .rcorners {
  width: 200px;
  height: 150px;
  padding: 20px;
  background-color: #73AD21;
}
#css-rounded-corner #rcorners1 {
  border-radius: 15px 50px 30px 5px;
}
#css-rounded-corner #rcorners2 {
  border-radius: 15px 50px 30px;
}
#css-rounded-corner #rcorners3 {
  border-radius: 15px 50px;
}
#css-rounded-corner #rcorners4 {
  border-radius: 15px;
}/*# sourceMappingURL=index.css.map */